<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhiraj.dreamyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dhiraj.dreamyou.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_third"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dhiraj.dreamyou.ThirdActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fourth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dhiraj.dreamyou.FourthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FifthActivity"
            android:label="Ground Vision"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dhiraj.dreamyou.FifthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SixthActivity"
            android:label="@string/title_activity_sixth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.dhiraj.dreamyou.SixthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>